@import url("https://fonts.googleapis.com/css?family=Inter:regular,700");
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
ol li,
ul li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: middle;
}
html,
body {
	font-size: 14px;
	font-family: Inter;
	line-height: 1;
	height: 100%;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input,
button,
textarea {
	font-family: inherit;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

._container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}
.attribution {
	flex: 0 1 auto;
	padding: 10px 0;
	font-size: 11px;
	text-align: center;
	a {
		transition: 0.3s;
		opacity: 0.5;
		color: var(--card-text);
		&:hover {
			transition: 0.3s;
			opacity: 1;
			color: var(--greenUp);
		}
	}
}
